.dialogue-content {
    flex-direction: row;
    align-items: center;
}

.portrait-container {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.dialogue-portrait {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.dialogue-text {
    flex-grow: 1;
    font-size: 35px;
    white-space: normal;
    -unity-text-align: upper-left;
    overflow: visible;
    padding: 20px;
    flex-wrap: wrap;
}

.speaker-name {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}