.header_main {
    font-size: 50px;
    -unity-font-definition: initial;
    -unity-font: url("project://database/Assets/Visuals/Fonts/ThaleahFat_TTF.ttf?fileID=12800000&guid=54868cb2b6793499e858360fd84827dd&type=3#ThaleahFat_TTF");
    color: rgb(255, 255, 255);
}

.btn-main {
    background-image: url("project://database/Assets/Visuals/Placeholder/UI/InventorySlot.png?fileID=21300000&guid=59b9ffaff015c430b8bd282fe433b1cc&type=3#InventorySlot");
    -unity-font-definition: initial;
    -unity-font: url("project://database/Assets/Visuals/Fonts/ThaleahFat_TTF.ttf?fileID=12800000&guid=54868cb2b6793499e858360fd84827dd&type=3#ThaleahFat_TTF");
    flex-grow: 1;
    height: 52px;
    font-size: 24px;
}

.slot-icon {
    flex-grow: 0;
    width: 150px;
    height: 150px;
    max-width: 83px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.visual-icon-container {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 15px;
    background-color: transparent;
    border-width: 1px;
    border-color: white;
}

.visual-icon {
    height: 100%;
    width: 100%;
    -unity-background-scale-mode: scale-to-fit;
}
